@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

/* Buttons */

.note-btn {
  font-size: 1.2rem;
  background: rgba(131, 116, 116, 0.925);
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.note-btn a {
  text-decoration: none;
  color: white;
}

.note-btn.delete {
  color: white;
  background: red;
}

.note-btn.delete-list {
  width: 180px;
  padding: 16px;
  margin: 0 auto;
  color: white;
  font-size: 1.3rem;
  background: red;
}

.btn-form {
  font-size: 1.6rem;
  padding: 10px 20px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border-color: #ccc;
  box-shadow: 3px 3px 5px rgba(131, 116, 116, 0.925);
  transition: all 0.3s linear;
}

.btn-form.disabled {
  background: #ebe2e2;
  color: #777;
  cursor: not-allowed;
}
